body {
  background-color: #EAF6F6;
}

hr {
  /* background-color: white; */
  /* border-style:dotted none none; */
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  /* height: 2px; */
  width: 10%;
  /* width:  */
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}

img {
  height: 150px;
  /* height: 60;
  width: 100% */
}

img:hover{
  background-color: blue;
}
a:hover{
  color:Red;
}
/***************specific*******************/
#MyName{
  color: blue;
}

/****************common******************/
.Java{
  color:Red;
}
